.destination {
  margin: 4rem 6 rem;
}

.destination h1 {
  font-size: 3rem;
}

.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.des-text {
  width: 45%;
  text-align: start;
  font-size: 1.1rem;
  display: flex;
}

.des-text h2 {
  padding-bottom: 1rem;
}

.imagesContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.imagesContainer img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: -1px 1px 62px -18px rgb(0, 0, 0, 0.19);

  overflow: hidden;
}

#img2 {
  position: relative;
  top: -10%;
  right: 0;
}

#img3 {
  position: relative;
  top: 10%;
  left: 0;
}

.info-text {
  margin-left: 10px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left mid mid right right";

  gap: 10px;

  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: header;
}

.item1 h1 {
  font-size: 2.5rem;
}

.item2 {
  grid-area: left;
}

.item2 p {
  font-size: 1.5rem;
}

.item3 {
  grid-area: mid;
}

.item4 {
  grid-area: right;
}

.item4 p {
  font-size: 1.5rem;
}

.item2 h2 {
  font-size: 2rem;
}

.item4 h2 {
  font-size: 2rem;
}

.phoneImg {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
}

.phoneImg2 {
  margin-top: 10px;
  box-sizing: border-box;
  width: 100%;
}
